$shadow: 0 0 10px rgba(0,0,0,0.5);
$main-color: #000;
$bg-color: #fff;
$text-color: #949292;
$title-color: #544444;
$border-r: 3px;
$height-vertical-slider: 280px;

//данный миксин для блока .title
//значяения параметров по умолчанию выставлены для заголовков разделов, которых на сайте минимум 3
//для изменения внешнего вида блока title можно вызвать этот миксин с другми значениями параметров
@mixin font-title ($color-title: $title-color, $color-text: $main-color, $weight-title: normal, $weight-text: bold, $size-title: 30px, $size-text: 15px){
  .title__main-title{
    color: $color-title;
    font-weight: $weight-title;
    font-size: $size-title ;
    text-transform: capitalize;
  }
  .title__text{
    color: $color-text;
    font-weight: $weight-text;
    font-size: $size-text ;
  }
}
@mixin border ($border-radius: 5px){//миксин для часто повторяюшихся и похожих границ блоков(в том числе и кнопок)
  border: 1px solid #eee;
  border-radius: $border-radius;
  box-shadow: $shadow;
}
.header{//общая стилизация header
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  .wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation{
    width: 35%;
    display: flex;
    justify-content: space-between;
    .navigation__link{
      color: $main-color;
      &:hover{
        opacity: 0.5;
      }
    }
  }
  .wrap-for-link{
    display: flex;
    width: 20%;
    justify-content: space-between;
    .link-enter{
      display: flex;
      flex-wrap: nowrap;
      .link-enter__img{
        margin-right: 10px;
      }
      .link-enter__text{
        color: $main-color;
      }
      &:hover{
        opacity: 0.7;
      }
    }
  }
}

.button{//общая стилизация для всех кнопок
  text-align: center;
  background-color: $bg-color;
  color: $main-color;
  text-transform: uppercase;
  font-weight: bold;
  @include border;
  padding: 10px 20px;
  &:hover{
    opacity: 0.6;
  }
}
.nav-button{//кнопка для отображания/скрытия меню в header
  width: 30px;
  height: 30px;
  background-color: $bg-color;
  border-radius: 50%;
  box-shadow: $shadow;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  .nav-button__center-line, .nav-button__center-line:before, .nav-button__center-line.nav-button__center-line:after{
    display: block;
    height: 2px;
    width: 18px;
    background-color: $main-color;
  }
  .nav-button__center-line:before{
    transition: all 0.5s;
    content: '';
    position: relative;
    bottom: 8px;
  }
  .nav-button__center-line:after{
    transition: all 0.5s;
    content: '';
    position: relative;
    top: 6px;//значение отличается от bottom у :before из-за разницы в положении на 2px (высота элемента)
  }
  //&:hover{
  //  transform: scale(0.9);
  //}
}
.nav-button_open{//состояние нажатой кнопки
  position: relative;
  .nav-button__center-line{
    background: transparent;
  }
  .nav-button__center-line:before{
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
  }
  .nav-button__center-line:after{
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
  }
}
//.button_circle{
//  width: 80px;
//  height: 80px;
//  @include border (50%);
//  background: url("img/play.png") no-repeat 60% 50%;
//}