@import "general";//подключение scss файла, к котором хранятся переменные, миксины и общая стилизация блоков, которые повторяются
.header_top{//стилизация header в изначальном положении
  position: absolute;
  top: 0;
  .wrap{
    position: relative;
    .logo{
      padding: 45px 0;
    }
    .nav{
      position: absolute;
      bottom: 10px;
      right: 100px;
      opacity: 0;
    }
    .nav-button{
      position: absolute;
      right: 0;
      bottom:5px;
    }
  }
}
.header_fixed{//изменения в header,которые происходят, когда он становится фиксированным
  background: $bg-color;
  position: fixed;
  z-index: 100;
  box-shadow: $shadow;
  top:0;
  transition: all 1s;
  .nav{
    position: relative;
    right: 120px;
  }
  .logo{
    padding: 25px 0;
  }
  .nav-button{//в этом header нет этой кнопки
    display: none;
  }
}
.page_start{//стартовая страница
  background: linear-gradient(to top, #F0E68C, #E0FFFF);
  height: 100vh;
  padding: 0;
  .wrap{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  .title{
    padding-bottom: 50px;
    @include font-title($main-color, $main-color, normal, bold, 50px, 20px);
  }
  .box-img{
    width: 60%;
    position: relative;
    .box-img__img{
      max-width: 80%;
      box-sizing: border-box;
      @include border;
    }
    .box-img__img:last-child{
      position: absolute;
      right: 0;
      bottom: -30px;
    }
  }
  .box-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include text;
    .box-text__text{
      margin-bottom: 40px;
      width: 70%;
    }
    .box-text__sub-text{
      text-transform: capitalize;
      font-weight: bold;
      width: 30%;
      text-align: center;
      margin-top: 10px;
      color: $main-color;
    }
  }
  .scroll-button{
    text-align: center;
    color: $main-color;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    font-style: italic;
    animation: jump 2s linear infinite;
    z-index: 5;
    @keyframes jump {
      from {transform:  translate(0, 0);}
      to { transform: translate(0,+15px);}
    }
    .scroll-button__img{
      margin: 10px 0;
      max-width: 100%;
      box-sizing: border-box;
    }
    &:hover{
      opacity: 0.5;
    }
  }
}

.benefits{
  width: 100%;
  .benefits-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .box-benefit{
      width: 20%;
      padding: 60px 0;
      .box-benefit__img{
        max-width: 100%;
        box-sizing: border-box;
      }
      .box-benefit__title{
        font-weight: bold;
        text-transform: uppercase;
        padding: 20px 0;
        font-size: 24px;
      }
      .box-benefit__text{
        @include text;
      }
    }
  }
}
.vertical-slider{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  .switch-vertical-slider{
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    .switch-vertical-slider__item{
      display: block;
      width: 10px;
      height: 10px;
      @include border(50%);
      background-color: #eee;
      cursor: pointer;
    }
    .switch-vertical-slider__item.active{
      width: 20px;
      height: 20px;
    }
    &:before{
      position: absolute;
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      border-right: 1px solid #eee;
    }
  }
  .content-vertical-slider{
    display: block;
    float: right;
    width: 95%;
    height: $height-slider;
    overflow: hidden !important;
    position: relative;
    .content-vertical-slider-item{
      display: block;
      position: absolute;
      width: 90%;
      height: 100%;
      top: $height-slider;//изначально первый слайд скрыт (показывается сразу при загрузке скрипта)
    }
    .content-vertical-slider__img{
      max-width: 100%;
      box-sizing: border-box;
      max-height: 100%;
    }
  }
}
.horizontal-slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .switch-horizontal-slider {
    width: 90%;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    .switch-horizontal-slider__item {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      box-shadow: $shadow;
      background-color: #eee;
      margin: 0 40px;
      cursor: pointer;
    }
    .switch-horizontal-slider__item.active {
      width: 20px;
      height: 20px;
    }
    &:before{
      position: absolute;
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      border-top: 1px solid #eee;
    }
  }
    .switch-near {
      width: 4%;
      text-align: center;
      font-size: 35px;
      cursor: pointer;
    }

    .content-horizontal-slider {
      width: 90%;
      height: $height-slider;
      overflow: hidden !important;
      position: relative;
      display: block;
      @include border;

      .content-horizontal-slider-item {
        position: absolute;
        width: 100%;
        top: 0;
        height: 100%;
        right: 100%; //в данном слайдере первый слайд показывается
      }
      .content-horizontal-slider__img {
        max-width: 100%;
        box-sizing: border-box;
      }
    }
}
.prices-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 25px 10px;
  @include border;
  $amount-size: 50px;
  .price-box{
    width: 32%;
    @include border;
    display: flex;
    padding: 15px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .price-box__type{
      text-transform: uppercase;
      color: $text-color;
      font-size: ($amount-size/2);
      margin-bottom: 20px;
    }
    .price-box__discount{
      color: $text-color;
      opacity: 0.5;
    }
    .amount{
      text-align: center;
      font-weight: bold;
      font-size: 50px;
      .amount__currency, .amount__sub{
        color: $text-color;
        font-size: ($amount-size/2);
      }
    }
  }
  .price-comment{
    text-align: center;
    padding: 30px 0;
    @include text;
    .price-comment__text{
      margin-bottom: 10px;
    }
    .price-comment__text:last-child{
      margin-bottom: 0;
    }
    .price-comment__text_through{
      text-decoration: line-through;
    }
    .price-comment__text_underline{
      text-decoration: underline;
    }
  }
  .price-box_active{
    border: none;
    box-shadow: none;
    transform: translate(1.2);
    padding: 0;
  }
}
.page_end{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-left: 10px;
  .help-block{
    width: ((100%-$width-wrap)/2);
  }
  .help-block:first-child{
    background: #eee;
  }
  .wrap{
    display: flex;
    flex-wrap: nowrap;
    .footer{
      width: 50%;
      background: #eee;
      padding-top: 30px;
      .footer-content__text{
        @include text($title-color, 16px);
        margin-bottom: 10px;
      }
      .footer-content__copyright{
        @include text;
      }
    }
    .feedback{
      width: 50%;
      padding: 30px;
      .title{
        text-align: left;
        line-height: 0.5;
        @include font-title($title-color, $text-color, bold, bold,16px,14px);
      }
      .row{
        margin-top: 20px;
      }
      .material-icons.prefix.right {
        right: 0;
      }
    }
  }
}















