* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

body {
  font-family: 'Titillium Web', sans-serif; }

.page {
  background: #fff;
  padding: 70px 0 0 0; }

.wrap {
  width: 70%;
  margin: 0 auto; }

.logo {
  font-size: 25px; }

.page_start {
  background: linear-gradient(to top, #F0E68C, #E0FFFF);
  height: 100vh;
  padding: 0; }

.header {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px; }
  .header .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header .navigation {
    width: 35%;
    display: flex;
    justify-content: space-between; }
    .header .navigation .navigation__link {
      color: #000; }
      .header .navigation .navigation__link:hover {
        opacity: 0.7; }
  .header .wrap-for-link {
    display: flex;
    width: 20%;
    justify-content: space-between; }
    .header .wrap-for-link .link-enter {
      display: flex;
      flex-wrap: nowrap; }
      .header .wrap-for-link .link-enter .link-enter__img {
        margin-right: 10px; }
      .header .wrap-for-link .link-enter .link-enter__text {
        color: #000; }
      .header .wrap-for-link .link-enter:hover {
        opacity: 0.7; }

.nav-button {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav-button .nav-button__center-line, .nav-button .nav-button__center-line:before, .nav-button .nav-button__center-line.nav-button__center-line:after {
    display: block;
    height: 2px;
    width: 18px;
    background-color: #000; }
  .nav-button .nav-button__center-line:before {
    transition: all 0.5s;
    content: '';
    position: relative;
    bottom: 8px; }
  .nav-button .nav-button__center-line:after {
    transition: all 0.5s;
    content: '';
    position: relative;
    top: 6px; }
  .nav-button:hover {
    transform: scale(0.9); }

.nav-button_open {
  position: relative; }
  .nav-button_open .nav-button__center-line {
    background: transparent; }
  .nav-button_open .nav-button__center-line:before {
    transform: rotate(45deg);
    position: absolute;
    top: 50%; }
  .nav-button_open .nav-button__center-line:after {
    transform: rotate(-45deg);
    position: absolute;
    top: 50%; }

.header_top .wrap {
  position: relative; }
  .header_top .wrap .logo {
    padding: 45px 0; }
  .header_top .wrap .navigation {
    position: absolute;
    bottom: 10px;
    right: 100px;
    opacity: 0; }
  .header_top .wrap .nav-button {
    position: absolute;
    right: 0;
    bottom: 5px; }

.header_fixed {
  background: #fff;
  position: fixed;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: 0;
  transition: all 1s; }
  .header_fixed .navigation {
    position: relative;
    right: 120px; }
  .header_fixed .logo {
    padding: 25px 0; }
  .header_fixed .nav-button {
    display: none; }

.title {
  width: 100%;
  height: inherit;
  text-align: center;
  line-height: 1.5;
  padding: 20px 0; }
  .title .title__main-title {
    color: #544444;
    font-weight: normal;
    font-size: 30px;
    text-transform: capitalize; }
  .title .title__text {
    color: #000;
    font-weight: bold;
    font-size: 15px; }

.page_start .title_start .title__main-title {
  color: #000;
  font-weight: normal;
  font-size: 50px;
  text-transform: capitalize; }
.page_start .title_start .title__text {
  color: #000;
  font-weight: bold;
  font-size: 20px; }

.benefits {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .benefits .box-benefit {
    width: 20%;
    padding: 60px 0; }
    .benefits .box-benefit .box-benefit__img {
      max-width: 100%;
      box-sizing: border-box; }
    .benefits .box-benefit .box-benefit__title {
      font-weight: bold;
      text-transform: uppercase;
      padding: 20px 0; }
    .benefits .box-benefit .box-benefit__text {
      color: #949292;
      line-height: 1; }

.scroll-button {
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  font-style: italic;
  animation: jump 2s linear infinite; }
  .scroll-button .scroll-button__img {
    margin: 10px 0;
    max-width: 100%;
    box-sizing: border-box; }

@keyframes jump {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(0, 15px); } }

/*# sourceMappingURL=style.css.map */
