@import "general";
.header_top{
  position: absolute;
  top: 0;
  .wrap{
    position: relative;
    .logo{
      padding: 45px 0;
    }
    .nav{
      position: absolute;
      bottom: 10px;
      right: 100px;
      opacity: 0;
    }
    .nav-button{
      position: absolute;
      right: 0;
      bottom:5px;
    }
  }
}
.header_fixed{
  background: $bg-color;
  position: fixed;
  z-index: 100;
  box-shadow: $shadow;
  top:0;
  transition: all 1s;
  .nav{
    position: relative;
    right: 120px;
  }
  .logo{
    padding: 25px 0;
  }
  .nav-button{
    display: none;
  }
}
.page_start{
  background: linear-gradient(to top, #F0E68C, #E0FFFF);
  height: 100vh;
  padding: 0;
  .wrap{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  .title{
    margin-bottom: 40px;
    @include font-title($main-color, $main-color, normal, bold, 50px, 20px);
  }
  .box-img{
    width: 60%;
    position: relative;
    &__img{
      max-width: 80%;
      box-sizing: border-box;
      @include border;
      &:last-child{
        position: absolute;
        right: 0;
        bottom: -30px;
      }
    }
  }
  .box-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include text;
    &__text{
      margin-bottom: 40px;
      width: 70%;
    }
    &__sub-text{
      text-transform: capitalize;
      font-weight: bold;
      width: 30%;
      text-align: center;
      margin-top: 10px;
      color: $main-color;
    }
  }
  .scroll-button{
    text-align: center;
    color: $main-color;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    font-style: italic;
    animation: jump 2s linear infinite;
    z-index: 5;
    @keyframes jump {
      from {transform:  translate(0, 0);}
      to { transform: translate(0,+15px);}
    }
    &__img{
      margin: 10px 0;
      max-width: 100%;
      box-sizing: border-box;
    }
    &:hover{
      opacity: 0.5;
    }
  }
}

.benefits{
  width: 100%;
  &-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .box-benefit{
      width: 20%;
      padding: 30px 0;
      &__img{
        max-width: 100%;
        box-sizing: border-box;
      }
      &__title{
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 0;
        font-size: 18px;
      }
      &__text{
        @include text;
      }
    }
  }
}
.vertical-slider{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 50px 0;
  .switch-vertical-slider{
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    &__item{
      display: block;
      width: 10px;
      height: 10px;
      @include border(50%);
      background-color: #eee;
      cursor: pointer;
    }
    &__item.active{
      width: 20px;
      height: 20px;
    }
    &:before{
      position: absolute;
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      border-right: 1px solid #eee;
    }
  }
  .content-vertical-slider{
    display: block;
    float: right;
    width: 95%;
    height: $height-slider;
    overflow: hidden;
    position: relative;
    &-item{
      display: block;
      position: absolute;
      width: 90%;
      height: 100%;
      top: $height-slider;
      &__img{
        max-width: 100%;
        box-sizing: border-box;
        max-height: 100%;
      }
    }
  }
}
.media-block{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1vw;
  padding-top: 40px;
  .some-block {
    height: 200px;
    @include border;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__text {
      margin-bottom: 10px;
      color: $text-color;
    }
  }
  .some-bigger-block {
      @include border;
      grid-row: 1 / 3;
      grid-column: 2 / 3;
      &__img{
        width: 100%;
        max-height: 90%;
        box-sizing: border-box;
      }
    }
  }
.horizontal-slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .switch-horizontal-slider {
    width: 90%;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    &__item {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      box-shadow: $shadow;
      background-color: #eee;
      margin: 0 40px;
      cursor: pointer;
      &.active {
        width: 20px;
        height: 20px;
      }
    }
    &:before{
      position: absolute;
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      border-top: 1px solid #eee;
    }
  }
    .switch-near {
      width: 4%;
      text-align: center;
      font-size: 35px;
      cursor: pointer;
    }
    .content-horizontal-slider {
      width: 90%;
      height: $height-slider;
      overflow: hidden;
      position: relative;
      display: block;
      @include border;
      &-item {
        position: absolute;
        width: 100%;
        top: 0;
        height: 100%;
        right: 100%;
        &__img {
          max-width: 100%;
          box-sizing: border-box;
        }
      }
    }
}
.flexible{
   padding: 40px 0;
  .prices-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px 10px;
    @include border;
    $amount-size: 50px;
    .price-box{
      width: 32%;
      @include border;
      display: flex;
      padding: 15px 0;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &_active{
        border: none;
        box-shadow: none;
        transform: translate(1.2);
        padding: 0;
      }
      &__type{
        text-transform: uppercase;
        color: $text-color;
        font-size: ($amount-size/2);
        margin-bottom: 20px;
      }
      &__discount{
        color: $text-color;
        opacity: 0.5;
      }
      .amount{
        text-align: center;
        font-weight: bold;
        font-size: 50px;
        &__currency{
          color: $text-color;
          font-size: ($amount-size/2);
        }
      }
    }
    .price-comment{
      text-align: center;
      padding: 30px 0;
      @include text;
      &__text{
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
        &_through{
          text-decoration: line-through;
        }
        &_underline{
          text-decoration: underline;
        }
      }
    }
  }
}
.page_end{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-left: 10px;
  .help-block{
    width: ((100%-$width-wrap)/2);
    &:first-child{
      background: #eee;
    }
  }
  .wrap{
    display: flex;
    flex-wrap: nowrap;
    .footer{
      width: 50%;
      background: #eee;
      padding-top: 30px;
      &-content{
        &__text{
          @include text($title-color, 16px);
          margin-bottom: 10px;
        }
        &__copyright{
          @include text;
        }
      }
    }
    .feedback{
      width: 50%;
      padding: 30px;
      .title{
        text-align: left;
        line-height: 0.5;
        @include font-title($title-color, $text-color, bold, bold,16px,14px);
      }
      .row{
        margin-top: 20px;
      }
      .material-icons.prefix.right {
        right: 0;
      }
    }
  }
}















