* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif; }

.page {
  background: #fff;
  padding: 50px 0; }

.wrap {
  width: 70%;
  margin: 0 auto; }

.logo {
  font-size: 25px; }

.title {
  width: 100%;
  height: inherit;
  text-align: center;
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 30px; }
  .title .title__main-title {
    color: #544444;
    font-weight: normal;
    font-size: 30px; }
  .title .title__text {
    color: #000;
    font-weight: bold;
    font-size: 15px; }

.header {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px; }
  .header .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header .nav {
    width: 35%;
    display: flex;
    justify-content: space-between; }
    .header .nav__link {
      color: #000; }
      .header .nav__link:hover {
        opacity: 0.5; }
  .header .wrap-for-link {
    display: flex;
    width: 20%;
    justify-content: space-between; }
    .header .wrap-for-link .link-enter {
      display: flex;
      flex-wrap: nowrap; }
      .header .wrap-for-link .link-enter__img {
        margin-right: 10px; }
      .header .wrap-for-link .link-enter__text {
        color: #000; }
      .header .wrap-for-link .link-enter:hover {
        opacity: 0.7; }

.button {
  text-align: center;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px 20px; }
  .button:hover {
    opacity: 0.6; }

.button_circle {
  width: 70px;
  height: 70px;
  border-radius: 50%; }
  .button_circle__img {
    position: relative;
    right: 10px; }

.nav-button {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav-button_open {
    position: relative; }
    .nav-button_open .nav-button__center-line {
      background: transparent; }
      .nav-button_open .nav-button__center-line:before {
        transform: rotate(45deg);
        position: absolute;
        top: 50%; }
      .nav-button_open .nav-button__center-line:after {
        transform: rotate(-45deg);
        position: absolute;
        top: 50%; }
  .nav-button__center-line, .nav-button__center-line:before, .nav-button__center-line:after {
    display: block;
    height: 2px;
    width: 20px;
    background-color: #000; }
  .nav-button__center-line:before {
    transition: all 0.5s;
    content: '';
    position: relative;
    bottom: 5px; }
  .nav-button__center-line:after {
    transition: all 0.5s;
    content: '';
    position: relative;
    top: 3px; }

.header_top {
  position: absolute;
  top: 0; }
  .header_top .wrap {
    position: relative; }
    .header_top .wrap .logo {
      padding: 45px 0; }
    .header_top .wrap .nav {
      position: absolute;
      bottom: 10px;
      right: 100px;
      opacity: 0; }
    .header_top .wrap .nav-button {
      position: absolute;
      right: 0;
      bottom: 5px; }

.header_fixed {
  background: #fff;
  position: fixed;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: 0;
  transition: all 1s; }
  .header_fixed .nav {
    position: relative;
    right: 120px; }
  .header_fixed .logo {
    padding: 25px 0; }
  .header_fixed .nav-button {
    display: none; }

.page_start {
  background: linear-gradient(to top, #F0E68C, #E0FFFF);
  height: 100vh;
  padding: 0; }
  .page_start .wrap {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap; }
  .page_start .title {
    margin-bottom: 40px; }
    .page_start .title .title__main-title {
      color: #000;
      font-weight: normal;
      font-size: 50px; }
    .page_start .title .title__text {
      color: #000;
      font-weight: bold;
      font-size: 20px; }
  .page_start .box-img {
    width: 60%;
    position: relative; }
    .page_start .box-img__img {
      max-width: 80%;
      box-sizing: border-box;
      border: 1px solid #eee;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      .page_start .box-img__img:last-child {
        position: absolute;
        right: 0;
        bottom: -30px; }
  .page_start .box-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #949292;
    font-size: 16px;
    line-height: 1; }
    .page_start .box-text__text {
      margin-bottom: 40px;
      width: 70%; }
    .page_start .box-text__sub-text {
      text-transform: capitalize;
      font-weight: bold;
      width: 30%;
      text-align: center;
      margin-top: 10px;
      color: #000; }
  .page_start .scroll-button {
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    font-style: italic;
    animation: jump 2s linear infinite;
    z-index: 5; }
@keyframes jump {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(0, 15px); } }
    .page_start .scroll-button__img {
      margin: 10px 0;
      max-width: 100%;
      box-sizing: border-box; }
    .page_start .scroll-button:hover {
      opacity: 0.5; }

.benefits {
  width: 100%; }
  .benefits-container {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .benefits-container .box-benefit {
      width: 20%;
      padding: 30px 0; }
      .benefits-container .box-benefit__img {
        max-width: 100%;
        box-sizing: border-box; }
      .benefits-container .box-benefit__title {
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 0;
        font-size: 18px; }
      .benefits-container .box-benefit__text {
        color: #949292;
        font-size: 16px;
        line-height: 1; }

.vertical-slider {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 50px 0; }
  .vertical-slider .switch-vertical-slider {
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative; }
    .vertical-slider .switch-vertical-slider__item {
      display: block;
      width: 10px;
      height: 10px;
      border: 1px solid #eee;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      background-color: #eee;
      cursor: pointer; }
    .vertical-slider .switch-vertical-slider__item.active {
      width: 20px;
      height: 20px; }
    .vertical-slider .switch-vertical-slider:before {
      position: absolute;
      content: '';
      display: block;
      height: 100%;
      width: 1px;
      border-right: 1px solid #eee; }
  .vertical-slider .content-vertical-slider {
    display: block;
    float: right;
    width: 95%;
    height: 400px;
    overflow: hidden;
    position: relative; }
    .vertical-slider .content-vertical-slider-item {
      display: block;
      position: absolute;
      width: 90%;
      height: 100%;
      top: 400px; }
      .vertical-slider .content-vertical-slider-item__img {
        max-width: 100%;
        box-sizing: border-box;
        max-height: 100%; }

.media-block {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1vw;
  padding-top: 40px; }
  .media-block .some-block {
    height: 200px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .media-block .some-block__text {
      margin-bottom: 10px;
      color: #949292; }
  .media-block .some-bigger-block {
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    grid-row: 1 / 3;
    grid-column: 2 / 3; }
    .media-block .some-bigger-block__img {
      width: 100%;
      max-height: 90%;
      box-sizing: border-box; }

.horizontal-slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .horizontal-slider .switch-horizontal-slider {
    width: 90%;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    position: relative; }
    .horizontal-slider .switch-horizontal-slider__item {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      background-color: #eee;
      margin: 0 40px;
      cursor: pointer; }
      .horizontal-slider .switch-horizontal-slider__item.active {
        width: 20px;
        height: 20px; }
    .horizontal-slider .switch-horizontal-slider:before {
      position: absolute;
      content: '';
      display: block;
      height: 1px;
      width: 100%;
      border-top: 1px solid #eee; }
  .horizontal-slider .switch-near {
    width: 4%;
    text-align: center;
    font-size: 35px;
    cursor: pointer; }
  .horizontal-slider .content-horizontal-slider {
    width: 90%;
    height: 400px;
    overflow: hidden;
    position: relative;
    display: block;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .horizontal-slider .content-horizontal-slider-item {
      position: absolute;
      width: 100%;
      top: 0;
      height: 100%;
      right: 100%; }
      .horizontal-slider .content-horizontal-slider-item__img {
        max-width: 100%;
        box-sizing: border-box; }

.flexible {
  padding: 40px 0; }
  .flexible .prices-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .flexible .prices-container .price-box {
      width: 32%;
      border: 1px solid #eee;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      display: flex;
      padding: 15px 0;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .flexible .prices-container .price-box_active {
        border: none;
        box-shadow: none;
        transform: translate(1.2);
        padding: 0; }
      .flexible .prices-container .price-box__type {
        text-transform: uppercase;
        color: #949292;
        font-size: 25px;
        margin-bottom: 20px; }
      .flexible .prices-container .price-box__discount {
        color: #949292;
        opacity: 0.5; }
      .flexible .prices-container .price-box .amount {
        text-align: center;
        font-weight: bold;
        font-size: 50px; }
        .flexible .prices-container .price-box .amount__currency {
          color: #949292;
          font-size: 25px; }
    .flexible .prices-container .price-comment {
      text-align: center;
      padding: 30px 0;
      color: #949292;
      font-size: 16px;
      line-height: 1; }
      .flexible .prices-container .price-comment__text {
        margin-bottom: 10px; }
        .flexible .prices-container .price-comment__text:last-child {
          margin-bottom: 0; }
        .flexible .prices-container .price-comment__text_through {
          text-decoration: line-through; }
        .flexible .prices-container .price-comment__text_underline {
          text-decoration: underline; }

.page_end {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-left: 10px; }
  .page_end .help-block {
    width: 15%; }
    .page_end .help-block:first-child {
      background: #eee; }
  .page_end .wrap {
    display: flex;
    flex-wrap: nowrap; }
    .page_end .wrap .footer {
      width: 50%;
      background: #eee;
      padding-top: 30px; }
      .page_end .wrap .footer-content__text {
        color: #544444;
        font-size: 16px;
        line-height: 1;
        margin-bottom: 10px; }
      .page_end .wrap .footer-content__copyright {
        color: #949292;
        font-size: 16px;
        line-height: 1; }
    .page_end .wrap .feedback {
      width: 50%;
      padding: 30px; }
      .page_end .wrap .feedback .title {
        text-align: left;
        line-height: 0.5; }
        .page_end .wrap .feedback .title .title__main-title {
          color: #544444;
          font-weight: bold;
          font-size: 16px; }
        .page_end .wrap .feedback .title .title__text {
          color: #949292;
          font-weight: bold;
          font-size: 14px; }
      .page_end .wrap .feedback .row {
        margin-top: 20px; }
      .page_end .wrap .feedback .material-icons.prefix.right {
        right: 0; }

/*# sourceMappingURL=style.css.map */
